body {
    padding-top: 100px;
  }
  
pre {
    color: red;
}


#collapseElements{
    text-align: center !important;
    
}

.navbar-nav{
    padding-right: 0 !important;
    text-align: center !important;
    color: black !important;
    
}
.navbar-nav, a{

    color: black !important;
    text-align: center !important;
}


.navbar{
    background-color: #4787C8 !important;
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.dropdown-menu{
    background-color: #4787C8 !important;
}

.nav-link:hover{
    color: white !important;
}


.tutorial-link{
    color: #0645AD !important;
    text-decoration: underline;
}

#map{
    height: 100%;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
   
}


/*Earthquake page*/
#earthquakemap{
    height: 90%;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
   
}

/*Air quality comparison*/
#CountryDrop{
    margin-top: 30;
}

#CountryDropR{
    margin-top: 30;
}

#myChartL{
    margin-top: 50;
}

#myChartR{
    margin-top: 50;
}


.AQfooter{
    position: static;
    width:100%;
    bottom:0;
    height:40px;
    font-size: 9pt;
}


.weather_map{
    height: 50% !important;
    width: 75% !important;
    
}

/*Weather Page*/

.map{
	padding-left: 0;
}
.scrollable{
    height: 5%;
    overflow-y: scroll;

    
}


.side-nav{
	padding-right: 0;
	color: black; 
	
}

.vis_panel{
    margin-top: 10px;
    border-width: 2px;
    border-color: black;
    box-shadow: 10px 10px 5px grey;
}


.img-responsive{
    width: 100%;
}
/* Trivia Quiz*/
.card-body{
    
    padding: 0 !important;
    
}
.card{
    margin-bottom: 15px;
    padding:10px;
    
    box-shadow: 10px 10px 5px grey;
    
}

.card2{
    margin-top: 10px;
    border-width: 1px;

    
}

.content1{
  
  height: 400px;
  overflow-y: scroll;
  overflow-c: hidden;
  font-size: 15px;
  color: black !important;
  font-family: 'Oswald', sans-serif;

}

.verticalLine {
  border-right: solid #4787C8 ;
  
}



/* End of Weather Page */


/* Crime data visualisation page */

svg {
    font: 10px sans-serif;
    shape-rendering: crispEdges;
  }

  .axis path,
  .axis line {
    fill: none;
    stroke: #000;
  }
 
  path.domain {
    stroke: none;
  }
 
  .y .tick line {
    stroke: #ddd;
  }


/* End of Crime data visualisation page */

/* CryptCurrency Social Stats Page */

.s-chart-container {
    width: 1000px;
    height:600px
}